#home a
{
    margin-left:25px;
}
#services a
{
    margin-left:25px;
}
#about us a
{
    margin-left:20px;
    margin-right:15px;
}
#contact us a
{
    margin-right:100px;
}
#header img
{
    margin-right:550px;
    text-align: left;
}
img
{
width:20px;
height:20px;
}
#font
{
font-family:Rubik;
align-items: flex-start;
}
#font1
{
border: 1px solid rgb(21, 3, 3);
background-color:black;
color: white;
width:100%;
margin-top:0px;
position:absolute;
left:0px;
right:0px;
scroll-behavior: auto;
height:800px;
}
#pages a:hover
{
color:red;
}
form
{
  margin-top: 30px;
}
input
{
border-radius:45px;
cursor:pointer;
letter-spacing: 0.01cm;
height:38px;
width: 500px;
color:rgba(0,0,0,1.0);
font-size: 17px;
border: 2px solid black;
}
select
{
  cursor:pointer;
  letter-spacing: 0.01cm;
  width: 500px;
  height: 38px;
  border-radius:45px;
  color:rgba(0,0,0,1.0);
  padding: 5px;
  font-size: 17px;
  border: 2px solid black;
}
#hover
{
box-shadow:0px 3px 5px rgba(248, 242, 242, 1.0);
}
#addr
{
letter-spacing: 0.01cm;
width:500px;
height:48px;
border-radius:35px;
padding:5px;
font-size: 17px;
border: 2px solid rgb(11, 1, 1);
margin-bottom: 0px;
}
::placeholder
{
  color:#000000;
  padding: 5px;
}

#header
{
    background-color:#000000;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height: 11%;
}
#header a
{
    color:#FFFFFF;
    text-decoration:None;
}

#pages
{
    border:2px solid rgb(252, 249, 249);
    width:70%;
    height:6%;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
    margin-top: 5px;
}
#header img
{
  width:110px;
  height:100px;
}
h1
{
   text-align: center;
    color:white;
}
.image {
  position: static;
 width:1532px;
  height: 200px; 
  background-image: url("/refund.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden; 
  margin-left:-20px;
  margin-top: 0px;
}
 h2{
  font-size: 50px;
  text-align: center;
  color: white;
  font-family:Rubik;
  margin-top: 70px;
}
#footer
{
    width:100%;
    height:640px;
    background-color: black;
    font-family:Rubik;
    margin-top: 870px;
    left: 0px;
    position:absolute;
    scroll-behavior: auto; 
}
#icons img
{
    width:30px;
    height:30px;
   margin-right:20px;
   margin-top: 80px;
}
#icons
{
    margin-left:1200px;
    width:280px;  
    height:40px;
}
#logo
{
    width:100px;
    height:100px;
    margin-top:0px;
    margin-left: 0px;
}
#all
{
    width:1350px;
    color:white;
    display:flex;
    height:300px;
    margin-left:80px;
    justify-content: space-between;
    margin-top:140px;
}
ul
{
    color:white;
}
#para
{
    width:310px;
    height:150px;
    margin-top:5px;
}
#para,#paraa,#paraaaa,#paraaa
{
    text-align: left;
}
ul,a
{
    color:white;
}
h4
{
    margin-left:22px;
}
li
{
    padding-bottom:17px;
    text-decoration: underline;
}
#paraaaa img
{
     width:20px;
     height:20px;
     margin-right:5px;
     vertical-align:text-bottom;
}
#paraaaa
{
    width:345px;
    height:200px;
}
#paraaaa h4
{
    margin-left: 0px;
}
#downleft
{
    color:white;
    text-align: left;
    margin-left:20px;
}
#downright
{
 margin-right: 40px;
    color: white;
    text-align:right;
    text-decoration: underline;
    font-size: 20px;
}
#ser
{
  border:1px solid rgb(17, 16, 16);
  width:7%;
  height:6%;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left:auto;
  margin-right:auto;
  background-color:#fdfcfc;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px
}


/********************************************************************************************************************************/


@media (max-width:1200px)
{
  #footer
  {
    width: 1350px;
    margin-top: 1600px;
  }
  #header img
  {
    margin-right: 450px;
  }
  #header
  {
    height:5%;
    width:100%;
  }
  #top,#paraa,#paraaa,#paraaaa
  { 
    margin-left:2px;
    margin-right: 2px;
  }
  #font1
  {
    position:absolute;
    height:1480px;
    width:1350;
    margin-top: 0px;
   border: 1px solid rgb(8, 7, 7);
   left: 0px;
   right: 0px;
  }
  .image
  {
    width:1363px;
  }
  #all
  {
    margin-left: 0px;
   justify-content:space-evenly;
  }
  #downright
  {
    margin-right: 16px;
  }
  #icons
  {
    margin-left: 970px;
  }
  h1{
    margin-left: 255px;
    width:850px;
    margin-bottom:30px;
    margin-top: 40px;
    font-size: 44px;
  }
  input[type=text],select,input[type=email]
  {
    margin-bottom: 40px;
   width: 500px;
   height: 60px;
   letter-spacing: 0.08cm;
   font-size: large;
  }
  #addr
  {
    width:500px;
    height:90px;
  }
  #pages
  {
    width: 750px;
    margin-left: 300px;
    height:60px;
    font-size: x-large;
    margin-bottom: 30px;
  }
h2
{
  width:700px;
  margin-left:340px;
  margin-top: 80px;
  font-size:40px;
}
#ser
{
  margin-left: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 60px;
  width:140px;
  font-size: large;
}
form
{
  margin-left: 0px;
}
}


/********************************************************************************************************************************/


@media (max-width:999px)
{
  #footer
  {
    width: 1350px;
    margin-top: 1600px;
  }
  #header img
  {
    margin-right: 450px;
  }
  #header
  {
    height:5%;
    width:100%;
  }
  #top,#paraa,#paraaa,#paraaaa
  { 
    margin-left:2px;
    margin-right: 2px;
  }
  #font1
  {
    position:absolute;
    height:1480px;
    width:1350;
    margin-top: 0px;
   border: 1px solid rgb(8, 7, 7);
   left: 0px;
   right: 0px;
  }
  .image
  {
    width:1363px;
  }
  #all
  {
    margin-left: 0px;
   justify-content:space-evenly;
  }
  #downright
  {
    margin-right: 16px;
  }
  #icons
  {
    margin-left: 970px;
  }
  h1{
    margin-left: 240px;
    width:850px;
    margin-bottom:30px;
    margin-top: 40px;
    font-size: 44px;
  }
  input[type=text],select,input[type=email]
  {
    margin-bottom: 40px;
   width: 500px;
   height: 60px;
   letter-spacing: 0.08cm;
   font-size: large;
  }
  #addr
  {
    width:500px;
    height:90px;
  }
  #pages
  {
    width: 750px;
    margin-left: 280px;
    height:60px;
    font-size: x-large;
    margin-bottom: 30px;
  }
h2
{
  width:700px;
  margin-left:280px;
  margin-top: 90px;
  font-size:40px;
}
#ser
{
  margin-left: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 60px;
  width:140px;
  font-size: large;
}
form
{
  margin-left: 0px;
}
}


/********************************************************************************************************************************/


@media (max-width:768px)
{
  #footer
  {
    width: 1350px;
    margin-top: 1600px;
  }
  #header img
  {
    margin-right: 450px;
  }
  #header
  {
    height:5%;
    width:100%;
  }
  #top,#paraa,#paraaa,#paraaaa
  { 
    margin-left:2px;
    margin-right: 2px;
  }
  #font1
  {
    position:absolute;
    height:1480px;
    width:1350;
    margin-top: 0px;
   border: 1px solid rgb(8, 7, 7);
   left: 0px;
   right: 0px;
  }
  .image
  {
    width:1363px;
  }
  #all
  {
    margin-left: 0px;
   justify-content:space-evenly;
  }
  #downright
  {
    margin-right: 16px;
  }
  #icons
  {
    margin-left: 970px;
  }
  h1{
    margin-left: 248px;
    width:850px;
    margin-bottom:30px;
    margin-top: 40px;
    font-size: 44px;
  }
  input[type=text],select,input[type=email]
  {
    margin-bottom: 40px;
   width: 500px;
   height: 60px;
   letter-spacing: 0.08cm;
   font-size: large;
  }
  #addr
  {
    width:500px;
    height:90px;
  }
  #pages
  {
    width: 750px;
    margin-left: 290px;
    height:60px;
    font-size: x-large;
    margin-bottom: 30px;
  }
h2
{
  width:700px;
  margin-left:340px;
  margin-top: 85px;
  font-size:40px;
}
#ser
{
  margin-left: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 60px;
  width:140px;
  font-size: large;
}
form
{
  margin-left: 20px;
}
}


/********************************************************************************************************************************/


@media (max-width:600px)
{
  #footer
  {
    width: 1350px;
    margin-top: 1600px;
  }
  #header img
  {
    margin-right: 450px;
  }
  #header
  {
    height:5%;
    width:100%;
  }
  #top,#paraa,#paraaa,#paraaaa
  { 
    margin-left:2px;
    margin-right: 2px;
  }
  #font1
  {
    position:absolute;
    height:1480px;
    width:1350;
    margin-top: 0px;
   border: 1px solid rgb(8, 7, 7);
   left: 0px;
   right: 0px;
  }
  .image
  {
    width:1363px;
  }
  #all
  {
    margin-left: 0px;
   justify-content:space-evenly;
  }
  #downright
  {
    margin-right: 16px;
  }
  #icons
  {
    margin-left: 970px;
  }
  h1{
    margin-left: 240px;
    width:850px;
    margin-bottom:30px;
    margin-top: 40px;
    font-size: 44px;
  }
  input[type=text],select,input[type=email]
  {
    margin-bottom: 40px;
   width: 500px;
   height: 60px;
   letter-spacing: 0.08cm;
   font-size: large;
  }
  #addr
  {
    width:500px;
    height:90px;
  }
  #pages
  {
    width: 750px;
    margin-left: 280px;
    height:60px;
    font-size: x-large;
    margin-bottom: 30px;
  }
h2
{
  width:700px;
  margin-left:280px;
  margin-top: 90px;
  font-size:40px;
}
#ser
{
  margin-left: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 60px;
  width:140px;
  font-size: large;
}
form
{
  margin-left: 0px;
}
}


/********************************************************************************************************************************/


@media (min-width:377px) and (max-width:426px)
{
  #footer
  {
    width: 1350px;
    margin-top: 1600px;
  }
  #header img
  {
    margin-right: 450px;
  }
  #header
  {
    height:5%;
    width:100%;
  }
  #top,#paraa,#paraaa,#paraaaa
  { 
    margin-left:2px;
    margin-right: 2px;
  }
  #font1
  {
    position:absolute;
    height:1480px;
    width:1350;
    margin-top: 0px;
   border: 1px solid rgb(8, 7, 7);
   left: 0px;
   right: 0px;
  }
  .image
  {
    width:1363px;
  }
  #all
  {
    margin-left: 0px;
   justify-content:space-evenly;
  }
  #downright
  {
    margin-right: 16px;
  }
  #icons
  {
    margin-left: 970px;
  }
  h1{
    margin-left: 240px;
    width:850px;
    margin-bottom:30px;
    margin-top: 40px;
    font-size: 44px;
  }
  input[type=text],select,input[type=email]
  {
    margin-bottom: 40px;
   width: 500px;
   height: 60px;
   letter-spacing: 0.08cm;
   font-size: large;
  }
  #addr
  {
    width:500px;
    height:90px;
  }
  #pages
  {
    width: 750px;
    margin-left: 280px;
    height:60px;
    font-size: x-large;
    margin-bottom: 30px;
  }
h2
{
  width:700px;
  margin-left:320px;
  margin-top: 85px;
  font-size:40px;
}
#ser
{
  margin-left: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 60px;
  width:140px;
  font-size: large;
}
form
{
  margin-left: 0px;
}
}


/********************************************************************************************************************************/


@media (min-width:321px) and (max-width:376px)
{
  #footer
  {
    width: 1350px;
    margin-top: 1600px;
  }
  #header img
  {
    margin-right: 450px;
  }
  #header
  {
    height:5%;
    width:100%;
  }
  #top,#paraa,#paraaa,#paraaaa
  { 
    margin-left:2px;
    margin-right: 2px;
  }
  #font1
  {
    position:absolute;
    height:1480px;
    width:1350;
    margin-top: 0px;
   border: 1px solid rgb(8, 7, 7);
   left: 0px;
   right: 0px;
  }
  .image
  {
    width:1363px;
  }
  #all
  {
    margin-left: 0px;
   justify-content:space-evenly;
  }
  #downright
  {
    margin-right: 16px;
  }
  #icons
  {
    margin-left: 970px;
  }
  h1{
    margin-left: 250px;
    width:850px;
    margin-bottom:30px;
    margin-top: 40px;
    font-size: 44px;
  }
  input[type=text],select,input[type=email]
  {
    margin-bottom: 40px;
   width: 500px;
   height: 60px;
   letter-spacing: 0.08cm;
   font-size: large;
  }
  #addr
  {
    width:500px;
    height:90px;
  }
  #pages
  {
    width: 750px;
    margin-left: 300px;
    height:60px;
    font-size: x-large;
    margin-bottom: 30px;
  }
h2
{
  width:700px;
  margin-left:330px;
  margin-top: 85px;
  font-size:40px;
}
#ser
{
  margin-left: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 60px;
  width:140px;
  font-size: large;
}
form
{
  margin-left: 0px;
}
}


  /********************************************************************************************************************************/


@media (max-width:320px)
{
  #footer
  {
    width: 1350px;
    margin-top: 1600px;
  }
  #header img
  {
    margin-right: 450px;
  }
  #header
  {
    height:5%;
    width:100%;
  }
  #top,#paraa,#paraaa,#paraaaa
  { 
    margin-left:2px;
    margin-right: 2px;
  }
  #font1
  {
    position:absolute;
    height:1480px;
    width:1350;
    margin-top: 0px;
   border: 1px solid rgb(8, 7, 7);
   left: 0px;
   right: 0px;
  }
  .image
  {
    width:1363px;
  }
  #all
  {
    margin-left: 0px;
   justify-content:space-evenly;
  }
  #downright
  {
    margin-right: 16px;
  }
  #icons
  {
    margin-left: 970px;
  }
  h1{
    margin-left: 240px;
    width:850px;
    margin-bottom:30px;
    margin-top: 40px;
    font-size: 44px;
  }
  input[type=text],select,input[type=email]
  {
    margin-bottom: 40px;
   width: 500px;
   height: 60px;
   letter-spacing: 0.08cm;
   font-size: large;
  }
  #addr
  {
    width:500px;
    height:90px;
  }
  #pages
  {
    width: 750px;
    margin-left: 280px;
    height:60px;
    font-size: x-large;
    margin-bottom: 30px;
  }
h2
{
  width:700px;
  margin-left:300px;
  margin-top: 90px;
  font-size:40px;
}
#ser
{
  margin-left: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 60px;
  width:140px;
  font-size: large;
}
form
{
  margin-left: 0px;
}
}
